    .titulo_trayectoria{
		width: 100%;
		margin-top:40px;
	}
	.titulo_trayectoria div{
		display:inline-block; 
		margin-bottom:30px; 
	}
	.titulo_trayectoria div:nth-child(1){
		width:96%;
		font-size:1.6em;
		color:#696969;  
		text-align:center;  
	}
	.titulo_trayectoria div:nth-child(2){
		width:4%;  
		float:right; 
	}
	.descarga{
		display:inline-block;
		margin-right:0.6em;
		width:15%;
		max-width:260px;
		background-color:#fafaf4;   
		vertical-align:top;
		cursor:pointer; 
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;

	    position: relative;

	}
	.descarga{
		width:38px!important;
		height:38px!important;
		border-radius:50%;
		padding:9px;  
		float:right; 
		margin-bottom:10px;
		cursor:pointer;  
	}
	.descarga img{
		width:100%;
	}
	
	.descarga:hover{
		background-color:#006fbe;
	}
	.descarga:hover img{
		-webkit-filter: brightness(10000%) contrast(200%);
		filter: brightness(10000%) contrast(200%);
	}

	.descarga{
		display:inline-block; 
	}
	.estatus_trayectoria_laboral{
		width: 70%;
		margin:0px auto;
		display:table;  
	}
	.new_status{
		display:table-cell;
		margin-right:0.6em;
		width:15%;
		max-width:260px;
		min-width: 144px;
		background-color:#ffffff;   
		vertical-align:top;
		cursor:pointer; 
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}
	.img_box{
		width:48px;
		height:48px;
		border-radius:50%;
		padding:9px;  
		margin:0 auto;
		margin-bottom:10px; 
	}
	.img_box img{
		width:100%;
	}
	.text_box{
		text-align:center;
		font-size:1em;
		color:#9f9fa1;
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;    
	}
	.estatus_naranja {background-color:#ff7d00;}
	.estatus_azul    {background-color:#00b7d3;}
	.estatus_verde   {background-color:#00a43d;}
	.estatus_morado  {background-color:#9f46ff;}
	.estatus_morado2  {background-color:#312783;}
	.estatus_rosa    {background-color:#ff03f3;}
	.estatus_rojo    {background-color:#ff0020;}

	.color_naranja{
		color:#ff7d00;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}
	.color_azul{
		color:#00b7d3;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	.color_verde{
		color:#00a43d;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	.color_morado{
		color:#9f46ff;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	.color_rosa{
		color:#ff03f3;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	.color_rojo{
		color:#ff0020;
		font-family: 'ProximaNovaBold';
		transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out; 
	}

	/*TOOLTIP*/
	.ui-widget-content{
		background-color:#5f5f5f!important; 
		color:#ffffff!important; 
		border:none!important;
	}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	    border-bottom-right-radius:0px!important; 
	}

	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	    border-bottom-left-radius:0px!important; 
	}
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	    border-top-right-radius:0px!important; 
	}
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	    border-top-left-radius:0px!important; 
	}
	.ui-tooltip{
		box-shadow:none!important; 
		font-size: .9em!important;
	}


	.ui-tooltip:before {
        content: "";
	    position: absolute;
	    top: 7px;
	    right: -18px;
	    width: 0;
	    height: 0;
	    border-width: 10px;
	    border-style: solid;
	    border-color: transparent transparent transparent #5e5e5e;
    }

    .overFlow{
        overflow:auto;  
        padding: 20px 0px 10px 0px;
    }
    .disabled {
	   /* pointer-events: none;*/
	    opacity: 0.3;
	    filter: alpha(opacity=30);
    }

    div.new_status.active > div.text_box.tex_naranja{
    	color:#ff7d00;
    	font-family: 'ProximaNovaBold';
    }

    div.new_status.active > div.text_box.tex_azul{
    	color:#00b7d3;
    	font-family: 'ProximaNovaBold';
    }

    div.new_status.active > div.text_box.tex_verde{
    	color:#00a43d;
    	font-family: 'ProximaNovaBold';
    }

    div.new_status.active > div.text_box.tex_morado{
    	color:#9f46ff;
    	font-family: 'ProximaNovaBold';
    }

    div.new_status.active > div.text_box.tex_rosa{
    	color:#ff03f3;
    	font-family: 'ProximaNovaBold';
    }

    div.new_status.active > div.text_box.tex_rojo{
    	color:#ff0020;
    	font-family: 'ProximaNovaBold';
	}
	
	div.new_status.active > div.text_box.tex_morado2{
    	color:#312783;
    	font-family: 'ProximaNovaBold';
    }


	div.new_status.active > div.img_box.estatus_naranja{animation: sombra_naranja  2s infinite;}

	@-webkit-keyframes sombra_naranja {
		0% {
		    -webkit-box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
		    box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
		}
		70%{
		    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		}
		100% {
		    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		}
	}

	@keyframes sombra_naranja {
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(255, 124, 0.4);
	        box-shadow: 0 0 0 0 rgba(255, 124, 0.4);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}


	div.new_status.active > div.img_box.estatus_azul{animation: sombra_azul  2s infinite;}

	@-webkit-keyframes sombra_azul {
	    0% {
	        -webkit-box-shadow: 0 0 0 0 rgba(2, 183,  0.4);
	        box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
	    }
	    70%{
	        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }
	    100% {
	        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}

	@keyframes sombra_azul {
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(2, 183, 0.4);
	        box-shadow: 0 0 0 0 rgba(2, 183, 211);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}

	div.new_status.active > div.img_box.estatus_verde{animation: sombra_verde  2s infinite;}

	@-webkit-keyframes sombra_verde  {
	    0% {
	        -webkit-box-shadow: 0 0 0 0 rgba(2, 183,  0.4);
	        box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
	    }
	    70%{
	        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }
	    100% {
	        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}
	@keyframes sombra_verde{
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(2, 183, 0.4);
	        box-shadow: 0 0 0 0 rgba(2, 164, 61);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}

	div.new_status.active > div.img_box.estatus_morado{animation: sombra_morada  2s infinite;}

	@-webkit-keyframes sombra_morada  {
	    0% {
	        -webkit-box-shadow: 0 0 0 0 rgba(164, 47,  0.4);
	        box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
	    }
	    70%{
	        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }
	    100% {
	        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}
	@keyframes sombra_morada{
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(164, 47, 0.4);
	        box-shadow: 0 0 0 0 rgba(148, 68, 209);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}


	div.new_status.active > div.img_box.estatus_rosa{animation: sombra_rosa  2s infinite;}

	@-webkit-keyframes sombra_rosa  {
	    0% {
	        -webkit-box-shadow: 0 0 0 0 rgba(164, 47,  0.4);
	        box-shadow: 0 0 0 0 rgba(255, 124,  0.4);
	    }
	    70%{
	        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }
	    100% {
	        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}
	@keyframes sombra_rosa{
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(164, 47, 0.4);
	        box-shadow: 0 0 0 0 rgba(255, 2, 209);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}
			

	div.new_status.active > div.img_box.estatus_rojo{animation: sombra_roja  2s infinite;}

	@-webkit-keyframes sombra_roja  {
	    0% {
	        -webkit-box-shadow: 0 0 0 0 rgba(254, 1  0.4);
	        box-shadow: 0 0 0 0 rgba(254, 1,  0.4);
	    }
	    70%{
	        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }
	    100% {
	        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}
	@keyframes sombra_roja{
	    0% {
	        -moz-box-shadow: 0 0 0 0 rgba(254, 1, 0.4);
	        box-shadow: 0 0 0 0 rgba(255, 0, 0);
	    }

	    70% {
	        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	    }

	    100% {
	        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	    }
	}


	@media screen and (max-width:980px){

		.estatus_trayectoria_laboral{
			width: 90%;
		}

	}